template
  ai-dialog
    ai-dialog-header
      h4 ${title}
    ai-dialog-body
      p(if.bind="msg") ${msg}
      compose(if.bind="viewModel", view-model.bind="viewModel")
    ai-dialog-footer
      base-button(if.bind="viewModel", on-click.call="controller.ok(model)", type.bind="okBtnType", name.bind="okBtnText", icon.bind="icon")
      base-button(if.bind="!viewModel", on-click.call="controller.ok()", type.bind="okBtnType", name.bind="okBtnText", icon.bind="icon")
      cancel-button(if.bind="showCancelButton", on-click.call="controller.cancel()", name.bind="cancelBtnText")
