template
  form.m-x-auto(style="max-width: 700px")
    div Profile
    div.form-group.row
      div.col-sm-4.text-sm-right.col-xs-12
        label.form-control-label ${'models.user.fullName'| t}
      div.col-sm-8.col-xs-12
        input.form-control(type="text", value.bind="user.fullName")
    div.form-group.row
      div.col-sm-4.text-sm-right.col-xs-12
        label.form-control-label ${'models.user.city'| t}
      div.col-sm-8.col-xs-12
        select3(items.bind="cities", value.bind="user.city", options.bind="{emptyValue: undefined, modelValueBind: true}")
    div.form-group.row
      div.col-sm-4.text-sm-right.col-xs-12
        label.form-control-label ${'models.user.address'| t}
      div.col-sm-8.col-xs-12
        input.form-control(type="text", value.bind="user.address")
    div.form-group.row
      div.col-sm-4.text-sm-right.col-xs-12
        label.form-control-label ${'models.user.phone'| t}
      div.col-sm-8.col-xs-12
        input.form-control(type="number", value.bind="user.phone")
    div.form-group.row
      div.col-sm-12.text-sm-right.col-xs-12
        save-button(on-click.call="save()", name="common.save")

