ai-dialog-container {
  position: fixed;
}

ai-dialog-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ai-dialog-overlay.active {
  opacity: 0.3;
  background-color: black;
}

ai-dialog-container {
  display: block;
  transition: opacity .2s linear;
  opacity: 0;
  outline: 0;
}

ai-dialog-container.active {
  opacity: 1;
}

ai-dialog {
  position: relative;
  display: block;
  min-width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 0;
  margin: auto;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background: #fff;
}

ai-dialog > ai-dialog-header {
  display: block;
  padding: 6px 16px;
  border-bottom: 1px solid #e5e5e5;
  cursor: default;
  /*no select*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

ai-dialog > ai-dialog-header.draggable {
  cursor: move;
}

ai-dialog > ai-dialog-header > button {
  float: right;
  border: none;
  background: 0 0;
  font-size: 22px;
  position: relative;
  top: -4px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

ai-dialog > ai-dialog-body {
  display: block;
  padding: 6px 16px;
}

ai-dialog ai-dialog-footer {
  display: block;
  padding: 6px 16px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}

.ai-dialog-open {
  overflow: hidden;
}
