template
  button.dialog-close(type="button", aria-label="Close", if.bind="!controller.settings.lock", click.trigger="controller.cancel()")
    span(aria-hidden="true") &times;

  div.dialog-header-content
    content
